---
import Layout from "../../layouts/Layout.astro";

import { team } from "../../data/loader";
import TeamLanding from "./TeamLanding.astro";
import TeamView from "../../components/team/TeamView";

---

<Layout>
  <TeamLanding />
  <section
    class="text-foreground mx-auto max-w-7xl px-4 py-20 md:px-8"
  >
    <TeamView client:load team={team} />
  </section>
</Layout>
