<section class="rounded-xl bg-[#E6FDE2] px-10 md:pt-0 pt-12 lg:h-screen">
  <div
    class="mx-auto grid max-w-7xl h-full grid-cols-1 md:grid-cols-2 md:gap-8 lg:gap-16"
  >
    <div class="w-full pt-16 self-center max-w-[550px] flex-col justify-center md:flex">
      <div class="lg:text-7xl text-5xl sm:text-6xl flex flex-col lg:gap-3">
        <h2 class="w-full max-w-[550px] font-black">MEET THE</h2>
        <h2 class="text-primary w-full max-w-[550px] font-black">
          MINDS BEHIND
        </h2>
        <h2 class="w-full max-w-[550px] font-black">THE CODE</h2>
      </div>
      <div class="text-md my-10 w-full max-w-[420px] font-medium text-gray-800">
        <p>
          From ideation to deployment, get to know the team building the future
          at SOSC
        </p>
      </div>
    </div>
    <div class="flex flex-row gap-4 lg:gap-8">
      <div class="flex flex-col gap-4 lg:gap-8 py-6">
        <div class="rounded-lg bg-[#A8D7A5] flex-1">
          <img
            class="h-full w-full rounded-lg object-cover object-bottom mix-blend-darken"
            src="/team-nobg/varsha.jpg"
            alt="Team Member 1"
          />
        </div>
        <div class="rounded-lg bg-[#A8D7A5] flex-1 ">
          <img
            class="h-full w-full rounded-lg object-cover object-bottom mix-blend-darken"
            src="/team-nobg/manas_s.jpg"
            alt="Team Member 2"
          />
        </div>
      </div>
      <div class="flex flex-col gap-4 lg:gap-8">
        <div class="md:rounded-b-lg rounded-lg bg-[#A8D7A5] flex-4">
          <img
            class="h-full w-full md:rounded-b-lg rounded-lg object-cover object-bottom mix-blend-darken"
            src="/team-nobg/yash_laxman.jpg"
            alt="Team Member 3"
          />
        </div>
        <div class="rounded-lg bg-[#A8D7A5] flex-4">
          <img
            class="h-full w-full rounded-lg object-cover object-bottom mix-blend-darken"
            src="/team-nobg/mustafa_asthikodi.jpg"
            alt="Team Member 4"
          />
        </div>
        <div class="rounded-t-lg bg-[#A8D7A5] flex-1"></div>
      </div>
      <div class="flex flex-col gap-4 lg:gap-8 pt-8 md:pt-16">
        <div class="rounded-lg bg-[#A8D7A5] flex-1">
          <img
            class="h-full w-full rounded-lg object-cover object-bottom mix-blend-darken"
            src="/team-nobg/hitha_badikillaya_s_u.jpg"
            alt="Team Member 5"
          />
        </div>
        <div class="rounded-t-lg bg-[#A8D7A5] flex-1">
          <img
            class="h-full w-full rounded-t-lg object-cover object-bottom mix-blend-darken"
            src="/team-nobg/vivek_neeralagi.jpg"
            alt="Team Member 6"
          />
        </div>
      </div>
    </div>
  </div>
</section>
