<section class="bg-[#E6FDE2] m-4 rounded-xl p-10 lg:h-screen">
   <div class="max-w-7xl mx-auto
            grid grid-cols-1 
            lg:grid-cols-[420px_auto]
            items-center">

      <div class="md:flex flex-col max-w-[550px] w-full justify-center ">
           <div class="mt-8 ">
                 <h2 class="text-7xl mb-3 font-black max-w-[550px] w-full ">MEET THE </h2>
                 <h2 class="text-7xl mb-3 font-black max-w-[550px] w-full text-primary ">MINDS BEHIND</h2>
                 <h2 class="text-7xl mb-3 font-black max-w-[550px] w-full">THE CODE</h2>
           </div>
           <div class="text-md my-10 max-w-[420px] w-full font-medium text-gray-800">
                <p>From ideation to deployment, get to know the team building the future at SOSC</p>
           </div>
        </div>
        <div class="mx-auto w-fit">
  <div class="grid 
              grid-cols-[repeat(2,180px)] 
              md:grid-cols-[repeat(3,180px)] 
              gap-4
              justify-items-center
              lg:justify-items-end">
           
                <div class="bg-[#A8D7A5] w-[180px] h-80 rounded-lg mb-5">
                    <img class="h-full w-full object-cover rounded-lg object-bottom mix-blend-darken"
                        src="../public/team-nobg/varsha.jpg"
                        alt="Team Member 1"
                    />
                </div>
                <div class="bg-[#A8D7A5] w-[180px] h-80 rounded-lg mb-5 lg:-mt-10">
                    <img class="h-full w-full object-cover rounded-lg object-bottom mix-blend-darken"
                        src="../public/team-nobg/manas_s.jpg"
                        alt="Team Member 2"
                    />
                </div>
            
                <div  class="bg-[#A8D7A5] w-[180px] h-80 rounded-lg mb-5 ">
                    <img class="h-full w-full object-cover rounded-lg object-bottom mix-blend-darken"
                        src="../public/team-nobg/hitha_badikillaya_s_u.jpg"
                        alt="Team Member 3"
                    />
                </div>
                <div class="bg-[#A8D7A5] w-[180px] h-80 rounded-lg mb-5 lg:-mt-5">
                    <img class="h-full w-full object-cover rounded-lg object-bottom mix-blend-darken"
                        src="../public/team-nobg/yash_laxman.jpg"
                        alt="Team Member 4"
                    />
                </div>
           
                <div  class="bg-[#A8D7A5] w-[180px] h-80 rounded-lg mb-5 lg:-mt-15">
                    <img class="h-full w-full object-cover rounded-lg object-bottom  mix-blend-darken"
                        src="../public/team-nobg/mustafa_asthikodi.jpg"
                        alt="Team Member 5"
                    />
                </div>
                <div  class="bg-[#A8D7A5] w-[180px] h-80 rounded-lg mb-5 lg:-mt-5 ">
                    <img class="h-full w-full object-cover rounded-lg object-bottom mix-blend-darken"
                        src="../public/team-nobg/vivek_neeralagi.jpg"
                        alt="Team Member 6"
                    />
                </div>
        </div>
    </div>
</section>