---
import Layout from "../layouts/Layout.astro";
import Landing from "@/components/landing/Landing.astro";
import MeetTheTeam from "@/components/MeetTheTeam.astro";
import Highlights from "@/components/Highlights.astro";
---

<Layout>
  <Landing />
  <MeetTheTeam />
  <Highlights/>
  <section class="relative flex h-screen w-full items-center justify-center">
  </section>
  <section
    class="bg-primary relative flex h-screen w-full items-center justify-center"
  >
  </section>
</Layout>

<script>
  import Lenis from "lenis";

  new Lenis({
    autoRaf: true,
    syncTouch: true,
  });
</script>
