---
import Layout from "../layouts/Layout.astro";
import Landing from "@/components/landing/Landing.astro";
---

<Layout>
  <Landing client:load/>
  <section
    class="bg-primary relative flex h-screen w-full items-center justify-center"
  >
  </section>
</Layout>
