---
import { Menu } from "lucide-react";
---

<nav class="text-foreground fixed top-0 z-20 w-full">
  <div class="flex h-14 w-full items-center justify-end px-4 md:px-8">
    <Menu className="cursor-pointer" />
  </div>
</nav>
